<!-- sidebar.component.html -->
<nav class="sidebar" [class.sidebar--collapsed]="!isSidebarVisible">
  <a class="sidebar-brand" href="#">Regen</a>
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="navigateTo('admin')" data-tooltip="Admin">
        <i class="material-icons">admin_panel_settings</i>
        <span class="sidebar-link-text">Admin</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="navigateTo('agent')" data-tooltip="Agent">
        <i class="material-icons">person</i>
        <span class="sidebar-link-text">Agent</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="navigateTo('customer')" data-tooltip="Customer">
        <i class="material-icons">people</i>
        <span class="sidebar-link-text">Customer</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="navigateTo('workflow')" data-tooltip="Workflow">
        <i class="material-icons">account_tree</i>
        <span class="sidebar-link-text">Workflow</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" (click)="navigateTo('dashboard')" data-tooltip="Dashboard">
        <i class="material-icons">dashboard</i>
        <span class="sidebar-link-text">Dashboard</span>
      </a>
    </li>
  </ul>

  <div class="profile-section" (click)="toggleProfileMenu()">
    <img src="assets/pic.jpg" alt="Profile Picture" class="profile-picture">
    <div class="profile-info">
      <div class="profile-email">armanjet123@gmail.com</div>
    </div>
    <i class="material-icons profile-icon">expand_more</i>
    <div *ngIf="isProfileMenuVisible" class="profile-menu">
      <a (click)="navigateTo('account')">Account</a>
      <a (click)="navigateTo('login')">Logout</a>
    </div>
  </div>
</nav>
