<nav class="sidebar" [class.sidebar--collapsed]="!isSidebarExpanded">
  <a class="sidebar-brand" href="#">Regen</a>
  <ul class="sidebar-nav">
    <li class="sidebar-item" *ngFor="let item of menuItems">
      <a
        class="sidebar-link"
        (click)="navigateTo(item.route)"
        [title]="!isSidebarExpanded ? item.tooltip : ''"
        matTooltip="{{ isSidebarExpanded ? '' : item.tooltip }}"
        matTooltipPosition="right"
      >
        <i class="material-icons">{{ item.icon }}</i>
        <span class="sidebar-link-text" *ngIf="isSidebarExpanded">{{ item.text }}</span>
      </a>
    </li>
  </ul>

  <div class="profile-section" (click)="toggleProfileMenu()">
    <img src="assets/pic.jpg" alt="Profile Picture" class="profile-picture">
    <div class="profile-info" *ngIf="isSidebarExpanded">
      <div class="profile-email">armanjet123@gmail.com</div>
    </div>
    <i class="material-icons profile-icon">expand_more</i>
    <div *ngIf="isProfileMenuVisible" class="profile-menu">
      <a (click)="navigateTo('account')">Account</a>
      <a (click)="navigateTo('login')">Logout</a>
    </div>
  </div>
</nav>
